<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Farm</title>
</head>
<body>
    <h1>Add Farm</h1>
    <form action="/farms" method="POST">
        <div>
            <label for="name">Farm Name:</label>
            <input type="text" name="name" id="name" placeholder="farm name">
        </div>
        <br>
        <div>
            <label for="city">City:</label>
            <input type="text" name="city" id="city" placeholder="farm city">
        </div>
        <br>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="email">
        </div>
        <br>
        <button>Submit</button>
    </form>
    <br>
    <a href="/farms"><button>Cancel</button></a>
</body>
</html>