<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Home</title>
</head>
<body>
    <h1>Welcome <%= 4 + 5 + 1 %> <%= "hello world".toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quo molestiae quisquam, natus repudiandae maiores, sed vitae libero consequatur mollitia harum? Similique, quaerat a? Ipsam esse iusto corrupti aut officia.
    Impedit iusto similique, cumque nihil perferendis molestias quas nobis. Eum sint rem aperiam. Assumenda ea nulla sequi, voluptatibus ad, totam rerum itaque recusandae incidunt repudiandae dicta atque magni cumque ratione.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ratione unde dolore itaque dignissimos asperiores natus? Doloremque delectus sint praesentium, nam eveniet illum qui. Tempore quis porro nesciunt nihil rem!</p>
</body>
</html>