<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Products</title>
</head>
<body>
    <h1>Farm Products</h1>
    <h2>To All Farms</h2>
    <a href="/farms"><button>Farms</button></a>
    <br>
    <br>
    <h2>To All Products</h2>
    <a href="/products"><button>Products</button></a>
</body>
</html>