<!-- References head.ejs html code -->
<%- include('partials/head') %>
    <!-- Responsive navbar -->
    <%- include('partials/navbar') %>
    <h1>Error! The <%= subreddit %> subreddit cannot be found!</h1>
<%- include('partials/footer') %>